<mat-card>
  <mat-card-title>Cadastrar Novo Producto </mat-card-title>
  <form action>
    <mat-form-field>
      <input  matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input  matInput placeholder="Preco" [(ngModel)]="product.price" name="price">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="createProduct()" color="primary">
    <span>Salvar</span>
  </button>
  <button mat-raised-button (click)="cancel()">
    <span>Cancelar</span>
  </button>
</mat-card>
